*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:white;

}
h1, h3{
	text-align:center;
	
}
.bar{
	background-image:url("/images/background2.jpg");
	height:1200px;
	background-size:cover;

}
.bar ul{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.bar li{
	display:inline-block;
	margin:0 20px;
	padding:10px;
	font-size:20px;
}
.bar h1,h3{
	color: white;
}
li:hover{
	background-color:rgba(0,0,0,0.5);
}
.contain{
	padding-top:30px;
}
.discription{
	margin:0 10px;
	display:inline;
	width:30%;
}
.discription h2, p{
	padding: 8px;
	padding-left:50px;
	width: 20%;
	color:white;
}
.container{
	padding:200px; 
	width:100%;
}
.us {
	padding: 10px;
	width:30%;
	display:inline-block;
}

.image-holder img{
	width:30%;
	height:150px;
	border-radius:50%;
}
.image-holder{
	text-align:center;
}
.caption{
	padding:20px;
}
.caption p{
	padding-left: 100px;
	width:60%;
}

footer{
	padding-top: 100px;
}