*{
	margin:0;
	padding:0;
}

.bar ul{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.main_container{
	display:inline-block;
}
a{
	text-decoration:none;
	color:white;
}
button{
	float:left;
	border-radius:10px;
	width:100px;
	height:30px;
	background-color:rgb(138,43,226);
	color:white;
}
.upload{
	float:right;
}     
.logout{
	float:right;
	font-size: 18px;
}       
.bar li{
	display:inline-block;
	margin:0 20px;
	padding:10px;
	font-size:20px;
	
}
li:hover{
	background-color:rgba(0,0,0,0.5);
}
.container{
	display:inline-block;
	text-align:center;
	padding-left:200px;
}
h2{
	text-align:center;
	padding:20px;
}
.pill {
    width: 300px;
	height: auto;
    float: left;
    margin: 0 10px;  
	padding:10px;
}
.caption{
	float:left;
}
.caption p{
	padding: 10px;
	padding-left:0px;
}
.container img{
	width: 300px;
	height: auto;
	display: inline-block;
}
.profile{
	margin: 0 50px;
	padding:20px;
}
.profile img{

	border-radius: 50%;
	width:20%;
}