<!DOCTYPE html>
<html>
<head>
	<meta content="Ethiopian" charset="utf-8" />
	<title>eCommerce</title>
	<link rel="stylesheet" href="ui/assets/form.css" type="text/css">
	
</head>
<body>
	
	<form method="POST"   action="/upload" enctype="multipart/form-data">
		<input type="text" name="image">
		<br>
		Catagory:<br><input type="text" name="catagory" hint = "Women Men Kids or Technology">
		<br>
		subcatagory:
		<br>
		<input type="text" name="subcatagory">
		<br>
		price:<br><input type="text" name="price" hint ="price of item">
		<br>
		name:<br><input type="text" name="named" hint = "name of item">
		<br>
		<input type="submit" name="submit" value="Submit">

    </form>
    

</body>
</html>