<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8" />
		<title>eCommerce</title>
		<link rel="stylesheet" href="ui/assets/css/category.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	</head>
<body>
<div class="bar">
			<ul>
				<li><a href="eCommerce.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
				<li><i class="fa fa-shopping-cart" style="font-size:36px;color:white"></i></li>
			</ul>
		</div>
<div class="main_container">
<div class="container">

	</div>
		
</div>

</body>
</html>