<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8"/>
		<title>eCommerce</title>
		<link rel="stylesheet" href="assets/css/eCommerce.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	</head>
<body>
	<div class="bar">
		<ul>
			<li><a href="eCommerce.html">Home</a></li>
			<li><a href="about.html" >About</a></li>
			<div class="register" ><a href="register.html">Register</a></li>
			<li class="login"><a href="login.html">LogIn</a></li>
			
		</ul>
		<div class="background-image"><img src="assets/image/background.jpg"></div>
		<h1>"Looking For Gifts??"</h1>
		<h2>You have come to the right place!</h2>
	</div>
<div class="main_container">
		
		<div class="container">
		<div class="pill">
			<div class="image-holder"><a href="women.html"><img src="assets/image/women.jpg"></a></div>
				<div class="caption">
					<p>Women</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="men.html"><img src="assets/image/men.jpg"></a></div>
				<div class="caption">
					<p>Men</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="kids.html"><img src="assets/image/kid.jpg"></a></div>
				<div class="caption">
					<p>Kids</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="tech.html"><img src="assets/image/tech.jpg" /></a></div>
				<div class="caption">
					<p>Technology</p>
				</div>
		</div>
	</div>
	
</div>
	
</div>
	
	
	
	
	
</body>
</html>