<?php
session_start();

 //function display(){
 		$username = $_SESSION['username'];
	   	$con = mysqli_connect('127.0.0.1', 'root', '', 'ecommerce');
	   	$sql = "SELECT  * FROM items where username = '$username'";
	   	$sql2 = "SELECT  * FROM register where username = '$username'";

	   	$query = mysqli_query($con,$sql);
	   	$query2 = mysqli_query($con,$sql2);
	   	$num = mysqli_num_rows($query);
//	   	}
?>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8" />
		<title>eCommerce</title>
		<link rel="stylesheet" href="loggedin.css">	
	</head>
<body>


<div class="bar">
			<ul>
				<li><a href="eCommerce.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
				
				<li class="logout"><a href="logout.php">LogOut</a></li>
				<li class="upload"><a href="upload2.php">Upload</a></li>
			</ul>
			<div class="main_container">
<div class="container">
	<?php
			$result2 = mysqli_fetch_array($query2);
			$profile = $result2['image'];
		   	$fullname = $result2['fullname'];
		   	$shopname = $result2['shopname'];
		   	$address = $result2['address'];
	?>
		<div class="profile">
				<div class="image-holder"><img class ="profilepic"src=<?php echo '"data:image;base64, '.$profile.'"' ?> </div>
				<p><?php echo $fullname ?></p>
				<p><?php echo $shopname ?></p>
				<p><?php echo $address ?></p>
			</div>
		</div>

<h2>Your Products</h2>
	<?php
		for($i=0;$i<$num ;$i++)
	   	{
		   	$result = mysqli_fetch_array($query);
		   	$result2 = mysqli_fetch_array($query2);

		   	$profile = $result2['image'];
		   	$fullname = $result2['fullname'];
		   	$shopname = $result2['shopname'];
		   	$address = $result2['address'];
		   	$img = $result['image'];
		   	$pri = $result['price'];
		   	$cat = $result['category'];
		   	$name= $result['name'];
		   	$username =  $_SESSION['username'];
	?>

		   	
		    
		    <div class="pill">
				<div class="image-holder"><img src=<?php echo '"data:image;base64, '.$img.'"' ?> </div>
					<div class="caption">
						<p><?php echo $pri ?></p>
						<p><?php echo $name ?></p>

						<form method="Post" action = method="v.php">
							<button name = "update">Update </button>
							<button name ="remove">Remove</button>
						</form>
					</div>
			</div>
	<?php 
		}
	?>
	
		
</div>
<?php
//display();
?>
</div>
</div>

		


</body>
</html>
