<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8" />
    <title>eCommerce</title>
    <link rel="stylesheet" href="assets/css/register.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	</head>
<body>
  <ui>
  <li><a href="eCommerce.html">Home</a></li>
  <li><a href="about.html">Home</a></li>
  <li><a href="contact_us.html">Home</a></li>
  </ul>
  <div class="main-container">
    <div class="container">
      <div class="profile">
				<div class="image-holder"><img class =""/> </div>
				<p>fullname</p>
				<p>shopname</p>
				<p>address</p>
			</div>
		</div>
  <img   src = "assets/image/background2.jpg"/>
  <p>fullname </p>
  <p>shopname </p>
  <p>address </p>
  </div>
  </div>
</body>
</html>