
<!DOCTYPE html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8" />
    <title>eCommerce</title>
    <link rel="stylesheet" href="assets/css/category.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	</head>
<body>
	<div class="bar">
  <ul>
  <li><a href="/eCommerce.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  </ul>
  </div>
  <div class="main-container">
    <div class="container">
      {{ range .}}
      <div class="pill">
				<div class="image-holder"><img src= "assets/image/{{ .Image}}"/> </div>
					<div class="caption">
						<p> Price {{ .Price}}</p>
						<p> Name   {{ .Name}} </p>
            <form method="POST" >
							<a href= "/tech/buy?id={{ .ID}}" class="button">BUY</a>
						</form>
				</div>
      </div>
      {{ end }}
		</div>
  </div>
</body>
</html>