*{
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:white;

}
h1{
	padding-top:200px;
	font-size:64px;
}
h1, h2{
	color:white;
	padding-left:30px;
}
.register{
	float:right;
}
.register a{
	font-size:18px;
}
.login{
	float:right;
}

.main_container{
	display:inline-flex;
	width:100%;
	padding-left:150px;
	padding-top:50px;
}
.background-image img{
	height:600px;
	width:100%;
	background-size: cover;
}

.bar ul{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.bar li{
	display:inline-block;
	margin:0 20px;
	padding:10px;
	font-size:20px;
}
li:hover{
	background-color:rgba(0,0,0,0.5);
}
.container img{
	width:100%;
	height:400px;
	text-align:center;
	background-size:cover;
	
}
.pill {
    width: 35%;
    float: left;
    margin: 0 10px;
	border-radius:10px;
	padding:3px;
}
.caption p{
	padding: 10px;
	text-align: center;
	font-size:24px;
	font-family:Snap ITC;
}