*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:white;

}
h1, h3{
	text-align:center;
	
}
form{
	margin:0 50px;
}
.bar{
	background-image:url("images/background2.jpg");
	height:1200px;
	background-size:cover;

}
.bar ul{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.bar li{
	display:inline-block;
	margin:0 20px;
	padding:10px;
	font-size:20px;
}
li:hover{
	background-color:rgba(0,0,0,0.5);
}
.contain{
	
	padding-top:50px;
}
.discription{
	margin:0 10px;
	display:inline-block;
	float:left;
	width:30%;
}
.discription h2, p{
	padding:10px;
	color:white;
}
.container{
	
	width:100%;
}
.pony {
	width:49%;
	display:inline-block;
}
.H{
	width:49%;
	display:inline-block;
}
.image-holder img{
	width:30%;
	height:200px;
	border-radius:50%;
}
.image-holder{
	text-align:center;
}
.caption p{
	padding-left:200px;
	text-align:center;
	width:40%;
	color:black;
}