*{
	margin:0;
	padding:0;
}
body{
	height:2000px;
}
.bar{
	background-image:url("images/background.jpg");
	height:300px;
	background-size:cover;
	
}
.bar ul{
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.main_container{
	display:inline-block;
}
a{
	text-decoration:none;
	color:white;
}
button{
	float:left;
	border-radius:20px;
	width:50px;
	height:30px;
	background-color:rgb(128,0,0);
	color:white;
}
.bar li{
	display:inline-block;
	margin:0 20px;
	padding:10px;
	font-size:20px;
	
}
li:hover{
	background-color:rgba(0,0,0,0.5);
}
.container{
	display:inline-block;
	text-align:center;
	padding-left:200px;
}
h2{
	text-align:center;
	padding:20px;
}
.pill {
    width: 300px;
	height:auto;
    float: left;
    margin: 0 10px;  
	padding:10px;
}
.caption{
	float:left;
}
.caption p{
	padding: 10px;
	padding-left:0px;
}
.container img{
	width: 300px;
	height:auto;
	
}