<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8"/>
		<title>eCommerce</title>
		<link rel="stylesheet" href="assets/css/eCommerce.css">	
	</head>
<body>
	<div class="bar">
		<ul>
			<li><a href="eCommerce.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact_us.html">Contact Us</a></li>
			<div class="register" ><a href="register.html">Register</a></li>
			<li class="login"><a href="login.html">LogIn</a></li>
			
		</ul>
		<h1>"Looking For Gifts??"</h1>
		<h2>You have come to the right place!</h2>
	</div>
<div class="main_container">
		
		<div class="container">
		<div class="pill">
			<div class="image-holder"><a href="women.php"><img src="assets/image/large.png"></a></div>
				<div class="caption">
					<p>Women</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="men.php"><img src="assets/image/1.jpg"></a></div>
				<div class="caption">
					<p>Men</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="kids.php"><img src="assets/image/download (4).jpg"></a></div>
				<div class="caption">
					<p>Kids</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="tech.php"><img src="assets/image/best-tech-gadgets.jpg"></a></div>
				<div class="caption">
					<p>Technology</p>
				</div>
		</div>
	</div>
	
</div>
	
</div>
	
	
	
	
	
</body>
</html>