<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8"/>
		<title>eCommerce</title>
		<link rel="stylesheet" href="assets/css/eCommerce.css">	
	</head>
<body>
	<div class="bar">
		<ul>
			<li><a href="eCommerce">Home</a></li>
			<li><a href="about">About</a></li>
			<div class="register" ><a href="register">Register</a></li>
			<li class="login"><a href="login">LogIn</a></li>
			
		</ul>
		<h1>"Looking For Gifts??"</h1>
		<h2>You have come to the right place!</h2>
	</div>
<div class="main_container">
		
		<div class="container">
		<div class="pill">
			<div class="image-holder"><a href="women"><img src="assets/images/large.png"></a></div>
				<div class="caption">
					<p>Women</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="men"><img src="assets/images/1.jpg"></a></div>
				<div class="caption">
					<p>Men</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="kids"><img src="assets/images/kids.jpg"></a></div>
				<div class="caption">
					<p>Kids</p>
				</div>
		</div>
		<div class="pill">
			<div class="image-holder"><a href="tech"><img src="assets/images/best-tech-gadgets.jpg"></a></div>
				<div class="caption">
					<p>Technology</p>
				</div>
		</div>
	</div>
	
</div>
	
</div>
	
	
	
	
	
</body>
</html>