<!doctype html>
<html>
<head>
<title>Registeration Form</title>
<style type="text/css">
	body{background-color:powderblue}
	table{font-size:30px; margin-left:25%;}
	input, textarea{font-size:30;}
</style>
</head>
<body>
	<br/><br/><br/><br/><br/>
	<form action="out.html" method="POST">
	<table>
		<tr>
			<th></th>
			<th>
				<h2>Register</h2>
			</th>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="Username"></td>
		</tr>
		<tr>
			<td>Email Adrress:</td>
			<td><input type="text" name="Email"></td>
		</tr>
		<tr>
			<td>Mobile No:</td>
			<td><input type="text" name="Mobile_No"></td>
		</tr>
		<tr>
			<td>Adrress:</td>
			<td><textarea rows="5" cols="22" name="Adrress"></textarea></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="Password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="Register"></td>
		</tr>
		
	</table>
	</form>
</body>
</html>