<!doctype html>
<html>
	<head>
		<meta content="Ethiopian" charset="utf-8" />
		<title>eCommerce</title>
		<link rel="stylesheet" href="assets/css/category.css">
	</head>
<body>
<div class="bar">
			<ul>
				<li><a href="eCommerce.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
				<li><i class="fa fa-shopping-cart" style="font-size:36px;color:white"></i></li>
			</ul>
		</div>
<div class="main_container">
<div class="container">

	</div>
		
</div>

</body>
</html>